<!DOCTYPE html>
<html>
<head>
  <title>Keep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "http://www.i2clipart.com/cliparts/8/b/6/5/clipart-sticky-note-orange-folded-corner-256x256-8b65.png", type: "image/png" %>
</head>
<body>

<%= yield %>

</body>
</html>
